.menu
    .menu_wrapper
        .menu_left_section
            a.menu_logo_link(href="/") 
                img.menu_logo_img(src='../../assets/img/logo-white.png' alt='chef & tailor club logo')
            .menu_contact_details
                .menu_contact_mails
                    a(href="mailto:press@chefntailorclub") PRESS@CHEFNTAILORCLUB
                    a(href="mailto:info@chefntailorclub") INFO@CHEFNTAILORCLUB
                .menu_contact_number
                    a(href="tel:+(646) 648-0582") (646) 648-0582
                .menu_contact_info
                    a(href="") SHIPPING & HANDLING
                    a(href="") PRIVACY & INFORMATION
                .menu_contact_social
                    a.menu_contact_social_links(href="")
                        img.menu_contact_social_img(src='../../assets/img/ig.png')
                    a.menu_contact_social_links(href="")
                        img.menu_contact_social_img(src='../../assets/img/fb.png')
                    a.menu_contact_social_links(href="")
                        img.menu_contact_social_img(src='../../assets/img/tw.png')
                    a.menu_contact_social_links(href="")
                        img.menu_contact_social_img(src='../../assets/img/li.png')
            .menu_item_number_wrapper
                h1.menu_item_number 01
            .menu_copyright_footer
                p.menu_copyright CTC Copyright 2021 NY
                p.menu_footer_founder Founded by Hezekiah Dacosta’s
        .menu_seperator
            .menu_bar_wrapper
                .menu_bar_circle_static
                .menu_bar
                .menu_bar_circle_motion
        .menu_right_section
            .menu_close
                .menu_close_cross
                    .menu_close_cross_one
                    .menu_close_cross_two
                p.menu_close_link CLOSE
            .menu_link_wrapper
                ul.menu_link_list
                    li.menu_link_item
                        a.menu_list_link(href="../about.html" data-img-src='../../assets/img/menu-item.jpg') ABOUT
                        img.menu_list_link_img(src='../../assets/img/menu-item.jpg')
                    li.menu_link_item
                        a.menu_list_link(href="/" data-img-src='../../assets/img/menu-item.jpg') SHOP
                        img.menu_list_link_img(src='../../assets/img/menu-item.jpg')
                    li.menu_link_item
                        a.menu_list_link(href="/" data-img-src='../../assets/img/menu-item.jpg') EVENTS
                        img.menu_list_link_img(src='../../assets/img/menu-item.jpg')
                    li.menu_link_item
                        a.menu_list_link(href="/" data-img-src='../../assets/img/menu-item.jpg') BLOG
                        img.menu_list_link_img(src='../../assets/img/menu-item.jpg')
                .menu_link_item_img_wrapper
                    img.menu_list__item_link_img(src='../../assets/img/menu-item.jpg')
