nav.navigation
    .navigation_wrapper 
        a.navigation_link(href="/")
            img.navigation_logo(src='../../assets/img/logo.png' alt='chef & tailor club logo')
        ul.navigation_list 
            li.navigation_list_item
                .navigation_list_item_ham
                    .navigation_list_item_ham_one
                    .navigation_list_item_ham_two
                    .navigation_list_item_ham_three
                p.navigation_list_link MENU
