.preloader
    .preloader_wrapper
        .preloader_marquee
            .preloader_marquee_item
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>                            
            .preloader_marquee_item
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
                | WHERE TASTE COLLIDES
                <span class="preloader_marquee_seperator"> * </span>
        .preloader_loading_section
            .preloader_loading_bar_wrapper
                .preloader_loading_bar_circle_static
                .preloader_loading_bar
                .preloader_loading_bar_circle_motion
            .preloader_loading
                h1.preloader_loading_percent 0%