@font-face {
    font-family: $font-editorial;
    src: url('../../assets/fonts/PPEditorialNew-Regular.woff'),
         url('../../assets/fonts/PPEditorialNew-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-editorial;
    src: url('../../assets/fonts/PPEditorialNew-Ultralight.woff'),
         url('../../assets/fonts/PPEditorialNew-Ultralight.woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-haas;
    src: url('../../assets/fonts/NeueHaasDisplay-Roman.woff'),
         url('../../assets/fonts/NeueHaasDisplay-Roman.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

  